section.menu-category.__main-dishes
	header
		h2.category-name-heading= category.name
		span.category-short-slogan= category.shortSlogan
	section.foods-list
		div.food-card
			img.food-card__image(src="dist/img/menu-1.jpg")
			div.food-card__info
				h3.food-card__name= category.foods[0].name
				span.food-card__category= category.foods[0].category
			div.food-card--footer
				span.food-card__price= "₺" + category.foods[0].price
				button.food-card--add-to(data-food-id=category.foods[0].id)
					<svg viewBox="0 0 512 512"><path d="M368.5 240H272v-96.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-96.5c-8.8 0-16 7.2-16 16 0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7H240v96.5c0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7 8.8 0 16-7.2 16-16V272h96.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z"/></svg>
		div.food-card
			img.food-card__image(src="dist/img/menu-1.jpg")
			div.food-card__info
				h3.food-card__name= category.foods[0].name
				span.food-card__category= category.foods[0].category
			div.food-card--footer
				span.food-card__price= "₺" + category.foods[0].price
				button.food-card--add-to(data-food-id=category.foods[0].id)
					<svg viewBox="0 0 512 512"><path d="M368.5 240H272v-96.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-96.5c-8.8 0-16 7.2-16 16 0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7H240v96.5c0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7 8.8 0 16-7.2 16-16V272h96.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z"/></svg>
		div.food-card
			img.food-card__image(src="dist/img/menu-1.jpg")
			div.food-card__info
				h3.food-card__name= category.foods[0].name
				span.food-card__category= category.foods[0].category
			div.food-card--footer
				span.food-card__price= "₺" + category.foods[0].price
				button.food-card--add-to(data-food-id=category.foods[0].id)
					<svg viewBox="0 0 512 512"><path d="M368.5 240H272v-96.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-96.5c-8.8 0-16 7.2-16 16 0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7H240v96.5c0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7 8.8 0 16-7.2 16-16V272h96.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z"/></svg>
		div.food-card
			img.food-card__image(src="dist/img/menu-1.jpg")
			div.food-card__info
				h3.food-card__name= category.foods[0].name
				span.food-card__category= category.foods[0].category
			div.food-card--footer
				span.food-card__price= "₺" + category.foods[0].price
				button.food-card--add-to(data-food-id=category.foods[0].id)
					<svg viewBox="0 0 512 512"><path d="M368.5 240H272v-96.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-96.5c-8.8 0-16 7.2-16 16 0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7H240v96.5c0 4.4 1.8 8.4 4.7 11.3 2.9 2.9 6.9 4.7 11.3 4.7 8.8 0 16-7.2 16-16V272h96.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z"/></svg>