section.menu-category.__main-dishes
	header
		h2.category-name-heading= category.name
		span.category-short-slogan= category.shortSlogan
	section.foods-list
		- for (var i = 0; i < category.itemShowed; ++i) {
			a.food-card(href="/food")
				img.food-card__image(src="dist/img/menu-1.jpg")
				div.food-card__info
					h3.food-card__name= category.foods[0].name
					span.food-card__category= category.foods[0].category
				div.food-card--footer
					span.food-card__price= "₺" + category.foods[0].price
					button.food__add-to-card(data-food-id=category.foods[0].id)
						i.icon.ion-ios-add
		- }
		