extends layout

block content
	//- Header
	include ./components/subpage-header.jade

	section.food-page
		div.food-banner
			img.food-banner__image(src= menu.img['2x'], alt= menu.description)
			div.food-banner__info
				.food-banner__overlay
				div.wrapper
					div.food-banner__text
						img.food-banner__text-icon(src="/dist/img/delivery.svg", alt="Estimated Delivery Time")
						span.delivery-time
							= `${menu.deliveryTime} min`
						img.food-banner__text-icon(src="/dist/img/kalori.svg", alt="Estimated food calorie")
						span.calorie
							= `${menu.calorie} cal`

		.wrapper
			h1.subpage-heading= page.heading
				button.food__toggle-favorite
					i.icon.ion-ios-heart-empty
			
			.rating-wrapper
				//- Rating
				include ./components/rating-stars.jade

				span.total-rating-count= "(" + menu.totalRatingCount + ")"

		.wrapper-flex
			img.restaurant-gravatar(src="/dist/img/goutte.png", alt=`restaurant.name`)
			span.restaurant-name= restaurant.name
		
		.wrapper
			ul.food-order-properties.cart-list
				each val in ingredients
					li.cart-list-item
						span.property-name
							= val.name
						.property-option
							button.btn-ingredient-option.btn-decrease-ingredient
								i.icon.ion-ios-remove
							span.count= val.amount
							button.btn-ingredient-option.btn-add-ingredient
								i.icon.ion-ios-add

			.checkout-total-price
				span= "Total:"
				span.total-amount= `${menu.price}£`
			.food__add-to-card.wide.waves.light
				= "Add to card"
				i.icon.ion-ios-basket
			//- p.food-description
			//- 	="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."

	//- Cart Floating Button
	include ./components/cart-floating.jade

	//- JavaScript
	script(src="/dist/js/main.js")
	script(src="/dist/js/pages/food.js")