extends layout

block content
	.wrapper
		//- Header
		include ./components/header.jade

		//- Last Order
		include ./components/featured.jade

		//- Orders
		.menu-category
			header
				h2.category-name-heading= "Last Orders"

			ul.cart-list
				- for (var i = 0; i < lastOrders.length; ++i)
					li.cart-list-item.collapsible-item
						img.food-list__img(src= lastOrders[i].img, alt="")
						.food-list__info
							h4.food-list__name= lastOrders[i].name
							span.food-list__price= "₺" + lastOrders[i].price
						if (lastOrders[i].status == 0)
							button.food__on-the-way(data-food-id=category.foods[0].id)
								i.icon.ion-ios-timer
								span= "Preparing..."
						else
							button.food__repeat-order(data-food-id=category.foods[0].id)
								i.icon.ion-ios-repeat
						
						//- Collapsible Body
						.collapsible-body
							.wrapper 
								p.order__created-time= "Order Time: 12:00"
								p.order__address= "Address: Square, Londan"
					

		//- Most Loved
		//- include ./components/categories-layout.jade

	script(src="dist/js/main.js")
	script(src="dist/js/pages/myorders.js")
		